.charts {
    max-height: 100%;
    padding: 3rem 3rem 0rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 0.5rem;
}

.chart {
    background-color: var(--cinza-4);
    height: fit-content;
    margin-bottom: 2rem;
    border-radius: 30px;
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.chart-box .chartTitle{
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.chart-box .chart-header{
  display:flex;
  justify-content: space-between;
}

/* .chart .main-svg {
} */

/* remove text label from range slider */
.rangeslider-rangeplot.xy .plot .scatterlayer.mlayer .text {
    display: none;
}
  
.js-plotly-plot .plotly .modebar{
  transform: translateY(75%);
  margin: 0.5rem;
}

.transaction-warn-container {
  width: 680px; 
  height: 450px; 
  background-color: #333333; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 0px 11px 12px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 11px 12px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 11px 12px -6px rgba(0,0,0,0.75);
}