#ProjectsPage .content {
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
}


.project_holder{
  width: 13rem;
  background-color: #333333;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.5rem
}

.project_holder h1 {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  padding: 0rem 0.5rem 0.25rem 0.5rem;
  border-bottom: 1px solid var(--hs-logo);
  width: 10rem;
}

/* Project Modal */
.project-modal {
  margin: auto;
  max-width: 40%;
  max-height: 60%;
}

.project-box {
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.project-active-group,
#edit-project-file-group {
  flex-direction: row;
  align-items: center;
}

.project-modal input[type="file"]::-webkit-file-upload-button {
  background-color: var(--green);
  border: none;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}

.project-name-group {
  width: 50%;
}

.project-modal hr {
  margin-top: 1rem;
}

.project-row{
  justify-content: center;
}

/* Projects Filter Modal */
#projects-filter-modal {
  margin-left: auto;
  height: 60svh;
  max-width: 35%;
}

.filters-box {
  border-radius: 2rem 0 0 2rem;
  box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.projects-filter-value {
  width: 11.5rem;
}

#projects-filter-modal .value-help {
  position: relative;
  display: inline-block;
  color: var(--light-gray);
  content: "(?)";
  margin-left: 5px;
  cursor: help;
}

#projects-filter-modal .value-help:hover::after, 
#projects-filter-modal .value-help:focus::after {
  display: block;
  position: absolute;
  left: -4.75rem;
  top: 25px;
  width: 9.5rem;
  height: fit-content;
  font-size: 0.8rem;
  background-color: var(--cinza-4);
  color: white;
  content: "Negative values for costs";
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.9rem;
  z-index: 1400;
}

#projects-filter-save-btn {
  font-size: 1.2rem;
  margin-right: auto;
}

#projects-filter-clear-btn {
  font-size: 1.2rem;
  margin-left: auto;
}

#projects-filter-modal .form-row.last {
  margin-top: 0;
}