#ProjectsPage .content {
  padding-top: 1.5rem;
}

.projects-table span.symbolic-indicator {
  font-weight: bold;
  color: var(--hs-logo);
  position: relative;
}

/* the "symbolic project" div */
.projects-table span.symbolic-indicator:hover::after,
.projects-table span.symbolic-indicator:focus::after {
  display: block;
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%) translateY(-100%);
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
  font-size: 0.8rem;
  background-color: var(--hs-logo);
  color: white;
  content: "Symbolic project";
  border-radius: 0.8rem;
  padding: 0.15rem 0.5rem;
  z-index: 1400;
}

/* the arrow pointing downwards */
.projects-table span.symbolic-indicator:hover::before,
.projects-table span.symbolic-indicator:focus::before {
  display: block;
  position: absolute;
  left: 50%;
  top: -5.2px;
  width: 10px;
  height: 4px;
  transform: translateX(-50%);
  background-color: var(--hs-logo);
  content: "";
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: 1400;
}

/* Project Modal */
.project-modal {
  margin: auto;
  max-width: 40%;
  max-height: 45%;
}

.project-box {
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.project-modal .form-row {
  align-items: flex-start;
}

.project-name-group {
  min-width: 8rem;
}

.project-modal hr {
  margin-top: 1rem;
}

.project-row {
  justify-content: center;
}

/* Projects Filter Modal */
#projects-filter-modal {
  margin-left: auto;
  height: 60svh;
  max-width: 30%;
}

.filters-box {
  border-radius: 2rem 0 0 2rem;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.projects-filter-balance {
  width: 11.5rem;
}

#projects-filter-save-btn {
  font-size: 1.2rem;
}

#projects-filter-clear-btn {
  font-size: 1.2rem;
}

#projects-filter-modal .form-row.last {
  margin-top: 0;
}
