#select-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 0.5rem;
  }
  
  .select-arrow-btn {
    padding: 0 0.5rem 0 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .select-menu {
    background-color: var(--green);
    border-radius: 0.5rem;
    top: 0.3rem;
  }
  
  .select-menu .select-option {
    color: white;
    justify-content: center;
  }
  
  .select-menu .select-option.Mui-selected {
    background-color: var(--hs-logo);
  }
  
  .select-menu .select-option:hover,
  .select-menu .select-option.Mui-selected:hover {
    background-color: var(--green-hover);
  }