.content {
    padding-top: 1.5rem;
}

/* New Transaction Modal */
#new-transaction-modal {
    margin: auto;
}

.value-cost-earning-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#create-transaction-projects-group {
    width: 50%;
}

#create-transaction-nif-group {
    flex-direction: row;
    align-items: center;
}

#new-transaction-modal input[type="file"]::-webkit-file-upload-button {
    background-color: var(--green);
    border: none;
    border-radius: 0.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
  }

#create-transaction-description-group {
    width: 50%;
}

#create-transaction-btn {
    font-size: 1.2rem;
    margin: 0 auto;
}

/* Alerts */
.create-transaction-alert {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
}

.loading {
    border-radius: 1rem;
}