#TransactionsPage .content {
  padding-top: 1.5rem;
}

/* Transaction Modal */
.transaction-modal {
  margin: auto;
  max-width: 60%;
  max-height: 80%;
}

.transaction-box {
  border-radius: 2rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.value-cost-earning-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.transaction-projects-group {
  width: 50%;
}

.transaction-nif-group,
#edit-transaction-file-group {
  flex-direction: row;
  align-items: center;
}

.transaction-modal input[type="file"]::-webkit-file-upload-button {
  background-color: var(--green);
  border: none;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-top: 0.2rem;
}

.transaction-description-group {
  width: 50%;
}

.transaction-modal hr {
  margin-top: 1rem;
}

/* Transactions Filter Modal */
#transactions-filter-modal {
  margin-left: auto;
  height: 100svh;
  max-width: 35%;
}

.filters-box {
  border-radius: 2rem 0 0 2rem;
  box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.transactions-filter-value {
  width: 11.5rem;
}

:is(.transaction-modal, #transactions-filter-modal) .value-help {
  position: relative;
  display: inline-block;
  color: var(--light-gray);
  content: "(?)";
  margin-left: 5px;
  cursor: help;
}

:is(.transaction-modal, #transactions-filter-modal) .value-help:hover::after,
:is(.transaction-modal, #transactions-filter-modal) .value-help:focus::after {
  display: block;
  position: absolute;
  left: -4.75rem;
  top: -50px;
  width: 9.5rem;
  height: fit-content;
  font-size: 0.8rem;
  background-color: var(--cinza-4);
  color: white;
  content: "Negative values for costs";
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.9rem;
  z-index: 1400;
}

#transactions-filter-projects-group {
  width: 100%;
}

#transactions-filter-save-btn {
  font-size: 1.2rem;
}

.transactions-filter-clear-btn {
  font-size: 1.2rem;
}

#transactions-filter-modal .form-row.last {
  margin-top: 0;
}

/* Transactions report generation modal */
.generate-report-group .form-row:not(:last-child) {
  margin-bottom: 1rem;
}
#generate-report-modal h2 {
  font-weight: 300;
  margin-bottom: 1rem;
}
#generate-report-projects-row {
  align-items: flex-start;
  gap: 3rem;
}

#transactions-report-projects-group {
  width: 100%;
}

#generate-report-options-row {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3rem;
}

#create-report-btn {
  font-size: 1.2rem;
}

/* Receipt download icon */
.receipt-download-icon-container {
  height: min-content;
  width: min-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.receipt-download-icon-container:hover::after {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 5%);
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  background-color: var(--cinza-4);
  color: white;
  content: "Download";
  border-radius: 0.25rem;
  padding: 0.7rem 0.4rem 0.2rem 0.4rem;
  z-index: 1400;
  cursor: default;
  clip-path: polygon(50% 0%, 65% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%, 35% 25%);
}
