#TransactionsPage .content {
    padding-top: 1.5rem;
}

/* Transaction Modal */
.transaction-modal {
    margin: auto;
    max-width: 60%;
    max-height: 80%;
}

.transaction-box {
    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.value-cost-earning-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.transaction-projects-group {
    width: 50%;
}

.transaction-nif-group,
#edit-transaction-file-group {
    flex-direction: row;
    align-items: center;
}

.transaction-modal input[type="file"]::-webkit-file-upload-button {
    background-color: var(--green);
    border: none;
    border-radius: 0.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
  }

.transaction-description-group {
    width: 50%;
}

.transaction-modal hr {
    margin-top: 1rem;
}

.transaction-submit-btn {
    font-size: 1.2rem;
    margin: 0 auto;
}

/* Transactions Sort button */
#transactions-sort-btn {
    padding-right: 0.5rem; 
}

.sort-menu {
    background-color: var(--green);
    border-radius: 0.5rem;
    top: 0.3rem;
}

.sort-menu .sort-option {
    color: white;
    justify-content: center;
}

.sort-menu .sort-option.Mui-selected,
.sort-menu .sort-option.Mui-selected:focus {
    background-color: var(--hs-logo);
}

.sort-menu .sort-option:hover,
.sort-menu .sort-option.Mui-selected:hover {
    background-color: var(--green-hover);
}

/* Transactions Filter Modal */
#transactions-filter-modal {
    margin-left: auto;
    height: 100svh;
    max-width: 35%;
}

.filters-box {
    border-radius: 2rem 0 0 2rem;
    box-shadow: -2px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.transactions-filter-value {
    width: 11.5rem;
}

#transactions-filter-modal .value-help {
    position: relative;
    display: inline-block;
    color: var(--light-gray);
    content: "(?)";
    margin-left: 5px;
    cursor: help;
}

#transactions-filter-modal .value-help:hover::after, 
#transactions-filter-modal .value-help:focus::after {
    display: block;
    position: absolute;
    left: -4.75rem;
    top: 25px;
    width: 9.5rem;
    height: fit-content;
    font-size: 0.8rem;
    background-color: var(--cinza-4);
    color: white;
    content: "Negative values for costs";
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 0.9rem;
    z-index: 1400;
}

#transactions-filter-projects-group {
    width: 100%;
}

#transactions-filter-save-btn {
    font-size: 1.2rem;
    margin-right: auto;
}

#transactions-filter-clear-btn {
    font-size: 1.2rem;
    margin-left: auto;
}

#transactions-filter-modal .form-row.last {
    margin-top: 0;
}

/* Transaction Options Menu */
.transactions-options-menu {
    background-color: var(--cinza-4);
    border-radius: 0.5rem;
}

.transactions-options-menu .transaction-option {
    color: white;
    font-size: 0.9rem;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.transactions-options-menu .transaction-option svg {
    font-size: 1.3rem;
}

.transactions-options-menu .transaction-option:hover {
    background-color: var(--cinza-3);
}

/* Receipt download icon */
.receipt-download-icon-container {
    height: min-content;
    width: min-content;
    margin: auto;
    display: flex;
    align-items: center;
}

.receipt-download-icon-container:hover::after {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 5%);
    width: fit-content;
    height: fit-content;
    font-size: 0.8rem;
    background-color: var(--cinza-4);
    color: white;
    content: "Download";
    border-radius: 0.25rem;
    padding: 0.7rem 0.4rem 0.2rem 0.4rem;
    z-index: 1400;
    cursor: default;
    clip-path: polygon(50% 0%, 65% 25%, 100% 25%, 100% 100%, 0 100%, 0 25%, 35% 25%);
}

/* Alerts */
.alerts-container {
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.transactions-alert {
    width: fit-content;
    z-index: 100;
}

.create-transaction-alert,
.edit-transaction-alert,
.transactions-filter-alert {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
}
