/* common css */

html {
    --hs-logo: #6BBA75;
    --green: #0E9553;
    --dark-green: #075531;
    --red: #F21313;
    --cinza-1: #212121;
    --cinza-2: #252525;
    --cinza-3: #2C2C2C;
    --cinza-4: #333333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cinza-4);
    color: white;
}

.page {
    background-color: var(--cinza-4);
    min-height: 100vh;
    padding: 3rem;
    display: inline-block;
}


/* Sidebar CSS */

aside {
    float: left;
    height: 100svh;
    background-color: var(--cinza-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Sidebar {
    color: var(--green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    gap: 50px;
    height: 100%;
    max-width: 250px;
    max-height: 900px;
    padding: 3.5rem 1.5rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 2px 4px 10px 0px #000000B2;
}

.nav-item {
    border: 0 solid transparent;
    border-radius: 2rem;
    padding: 0.8rem 0 0.8rem 1.5rem;
    font-size: 1.1rem;
    min-width: 13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--green);
}

.nav-item.active {
    background-color: var(--hs-logo);
    color: white;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, .5);
}

#logo-img {
    max-width: 3rem;
    border-radius: 0.8rem;
}

#hstms-logo {
    color: var(--hs-logo);
    font-size: 2rem;
    padding: 0;
    justify-content: center;
}

#logout {
    justify-content: center;
    padding: 0;
}
